docs/n8n-lhasasa-procurement.workflow.json
{
  "name": "Lhasasa procurement (order_notify)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lhasasa-procurement",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Procurement POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "a1000000-0000-4000-8000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst body = root.body !== undefined ? root.body : root;\nconst order = body.order || {};\nreturn [{\n  json: {\n    ok: true,\n    received_at: new Date().toISOString(),\n    event: body.event,\n    version: body.version,\n    sent_at: body.sent_at,\n    order_id: order.order_id,\n    status: order.status,\n    source: order.source,\n    total: order.total,\n    items_count: Array.isArray(order.items) ? order.items.length : 0\n  }\n}];"
      },
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Normalize ack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [520, 0]
    }
  ],
  "connections": {
    "Procurement POST": {
      "main": [
        [
          {
            "node": "Normalize ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize ack": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false
}
